* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f8f8f8;
  --gray: #a8a8b3;
  --red: #ea4335;
  --purple: #835afd;
  --color-body: #29292e;
}

html {
  @media(max-width: 1080px) {
    font-size: 93.75%;
  }

  @media(max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  color: var(--color-body);
}

body,
input,
button,
textarea {
  font: 400 1.6rem "Roboto", sans-serif;
}
